.main-heading{
  background: $card-border;
}
.answer-section{
  h1{
    @include media-breakpoint-down(md){
      font-size: 1.6rem;
    }
  }
  .card{
    &.answer{
      background: lighten($success,40%);
      font-family: $font-ciutadella;
      font-size: 1.3rem;
      @include media-breakpoint-down(sm){
        font-size: 1.1rem;
      }
      .card-header, .card-footer{
        font-weight: 600;
        background: lighten($warning,30%);
      }
      p:last-child{
        margin-bottom: 0;
      }
    }
  }
  .form-check{
    .form-check-input{

    }
  }

  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* ========= */
  .checkboxes label {
    display: inline-block;
    user-select: none;
    position: relative;
    width: 38px;
    height: 38px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    cursor: pointer;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 2rem;
    @include media-breakpoint-down(md){
      margin: 0;
    }
  }
  .checkboxes label:after {
    content: '';
    display: block;
    margin-left: 13px;
    margin-top: 6px;
    width: 9px;
    height: 18px;
    border: solid rgba(0, 0, 0, 0.1);
    border-width: 0 6px 6px 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .checkboxes label{
    &:hover {
      border: 2px solid rgba(0, 0, 0, 0.5);
      color: black;
    }
    &:focus{
      border: 2px solid rgba(0, 0, 0, 0.5);
      color: black;
    }
  }
  .checkboxes label:active {
    -moz-transition-duration: 0;
    -o-transition-duration: 0;
    -webkit-transition-duration: 0;
    transition-duration: 0;
    -webkit-filter: brightness(0.8);
  }
  .checkboxes input {
    display: none;
  }
  .checkboxes input:checked + label {
    color: $success;
  }
  .checkboxes input:checked + .green-background {
    border-color: $success;
    background: $success;
  }
  .checkboxes input:checked + .green-background:after {
    content: '';
    display: block;
    margin-left: 13px;
    margin-top: 6px;
    width: 9px;
    height: 18px;
    border: solid $white;
    border-width: 0 6px 6px 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .checkboxes{
    input:checked + label {
      -webkit-animation: boom 0.5s ease;
      -moz-animation: boom 0.5s ease;
      -ms-animation: boom 0.5s ease;
      -o-animation: boom 0.5s ease;
      animation: boom 0.5s ease;
    }
    .form-check-input{
      position: absolute;
      margin-top: -8px;
      margin-left: 13px;
      left: 50%;
      top: 50%;
      z-index: -1;
      opacity: 0;
      display: inline !important;
      &:focus{
        + label{
          border: 2px solid rgba(0, 0, 0, 0.5);
          color: black;
        }
      }
    }
  }

  @-webkit-keyframes boom {
    25% {
      -moz-transform: scale(1.25);
      -ms-transform: scale(1.25);
      -webkit-transform: scale(1.25);
      transform: scale(1.25);
    }
  }
  @-moz-keyframes boom {
    25% {
      -moz-transform: scale(1.25);
      -ms-transform: scale(1.25);
      -webkit-transform: scale(1.25);
      transform: scale(1.25);
    }
  }
  @-ms-keyframes boom {
    25% {
      -moz-transform: scale(1.25);
      -ms-transform: scale(1.25);
      -webkit-transform: scale(1.25);
      transform: scale(1.25);
    }
  }
  @-o-keyframes boom {
    25% {
      -moz-transform: scale(1.25);
      -ms-transform: scale(1.25);
      -webkit-transform: scale(1.25);
      transform: scale(1.25);
    }
  }
  @keyframes boom {
    25% {
      -moz-transform: scale(1.25);
      -ms-transform: scale(1.25);
      -webkit-transform: scale(1.25);
      transform: scale(1.25);
    }
  }
  /* ========= */
  .radios input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0 2rem;
    width: 2rem;
    height: 2rem;
    outline: none;
    background: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 0 0 8px white, 0 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 0 8px white, 0 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 0 8px white, 0 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    cursor: pointer;
    @include media-breakpoint-down(md){
      margin: 0;
    }
  }
  .radios{
    input[type="radio"]:hover, .radios input[type="radio"]:checked {
      background: rgba(0, 0, 0, 0.5);
      -moz-box-shadow: inset 0 0 0 6px white, 0 0 0 3px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: inset 0 0 0 6px white, 0 0 0 3px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 0 0 6px white, 0 0 0 3px rgba(0, 0, 0, 0.5);
    }
    input[type="radio"]:focus{
      background: rgba(0, 0, 0, 0.5);
      -moz-box-shadow: inset 0 0 0 6px white, 0 0 0 3px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: inset 0 0 0 6px white, 0 0 0 3px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 0 0 6px white, 0 0 0 3px rgba(0, 0, 0, 0.5);
    }
  }
  .radios input[type="radio"]:checked {
    background: $success;
    -moz-box-shadow: inset 0 0 0 6px white, 0 0 0 3px $success;
    -webkit-box-shadow: inset 0 0 0 6px white, 0 0 0 3px $success;
    box-shadow: inset 0 0 0 6px white, 0 0 0 3px $success;
  }

  .triangle-obtuse.top{
    margin-bottom: 1rem;
  }

}